h1{color:darkcyan;
font-family:Arial;
text-align:center;
}
h2{color:darkcyan;
font-family:Arial;
}
p{font-family:sans-serif;
font-size: medium;
font-weight: 600; 
text-decoration:none;
}
#menu-bar
a{
text-decoration:none;
background-color:#ffffff;
padding: 5px;
}
#menu-bar

a:hover{
background-color: black;
color: #ffffff;
}